<html>
  <head>
    <title>Output Audio</title>
  </head>
  <body>
     <H1><br><p style="text-align:center">MASHUP WEB APPLICATION</h1><br>
    <h2><font face = "Georgia" size="4">&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; Enter the following details :</font></h2>
    <form action="/submit" method="post">
      <font face = "Comic Sans MS" size="3"><b>
      &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Singer Name :&emsp; &emsp; &emsp; &nbsp; &emsp; &emsp; &emsp;<input type="text" name="singer_name" required><br><br>
      &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Number of Youtube Videos :&nbsp; &emsp;
      <input type="number" name="num_videos" required><br><br>
      &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Duration(in sec) :&nbsp; &emsp; &emsp; &emsp; &emsp; &emsp;
      <input type="number" name="duration" required><br><br>
      &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;Email :&emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; <input type="email" name="email" required><br><br>
      &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;  <input type="submit" value="submit">
      </b></font>
    </form> 
  </body>
</html>